@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	min-height: 100vh;
	width: 100%;
	font-family: 'Roboto', sans-serif;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-image: url(https://assets.pokemon.com/static2/_ui/img/chrome/body_bg.png);
    background-color: rgb(66, 66, 66);
}

.header {
	text-align: center;
	margin: 2rem auto;
}

.header h1 {
	font-size: 2.5rem;
	color: white;
	padding: 1rem 0;
}

.header form {
	display: flex;
	justify-content: center;
}

.header form input {
	height: 2rem;
	font-size: 1rem;
	padding: 10px;
	border: none;
}

.header form input:focus {
	outline: none;
}

.header form button {
	width: 2rem;
	border: none;
	cursor: pointer;
	transition: 0.3s;
}

.header form button:hover {
	background-color: lightgray;
}

.poke-area {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	gap: 15px;

	margin: 0 1rem 2rem;
}

.poke-card {
	width: 300px;
	padding: 1rem 0;
	border-radius: 15px;
	cursor: pointer;
	background-image: url(https://assets.pokemon.com/static2/_ui/img/chrome/container_bg.png);
    background-color: rgb(255, 255, 255);
}

.content {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	transition: 0.5s;
}

.content:hover {
	transform: translateY(-10px);
	
}

.poke-name {
	font-size: 1.5rem;
	font-weight: 700;
}

.poke-img {
	width: 80%;
	margin: 10px 0;
}

.poke-id {
	font-style: italic;
	font-weight: 400;
}

.poke-weight {
	font-weight: 400;
	margin-top: 5px;
}

.buttons {
	display: flex;
	gap: 10px;
}

.prev, .next {
	border: none;
	outline: none;
	text-align: center;
	padding: 0.25rem 1rem;
	margin: 0 auto;
	background-color: white;
	cursor: pointer;
	transition: 0.5s;
	font-weight: 400;
	margin-bottom: 2rem;
	flex: 1;
}

.prev:hover, .next:hover {
	transform: translateY(-5px);
	background-color: lightgray;
}




